{% extends "index.html" %}

{% block tablerows %}
<thead>
    <tr>
        <th>Date</th>
        <th>Matchday</th>
        <th>Home</th>
        <th>Away</th>
        <th>AA</th>
    </tr>
</thead>
<tbody>
    {% for match in matches %}
        <tr>
            <td>{{ match.date.strftime('%Y-%m-%d') }}</td>
            <td>???</td>
            <td>{{ match.homeTeam }}</td>
            <td>{{ match.awayTeam }}</td>
            <td>{{ match.aidansScore }}</td>
        </tr>
    {% endfor %}
</tbody>
{% endblock %}