{% extends "base.html" %}
{% block content %}
<div class="row">
<div class="total-filter col order-2">
    <div class="search-heading">Show Results</div>
  <p id="date_filter">
     
<span id="date-label-from" class="date-label">From: 
</span><input class="date_range_filter date" type="text" 
id="datepicker_from" />
      <span id="date-label-to" 
class="date-label">To:</span><input class="date_range_filter
date" type="text" id="datepicker_to" />
        <button class="btn btn-default clear-date-filter">Clear Filter</button>
  </p>
</div>

    <div class="dataTable col-9 order-1">
    <table id="dataTable" class="table table-striped">
        {% block tablerows %}{% endblock %}
    </table>
</div>
</div>
{% endblock %}